<h1 class="title" >Animals</h1>



    
<% @animals.each do |animal| %>

<div style="float:left;">
 <div class="content">

   <p><%= image_tag animal.image_animal_url(:thumb) %></p>

   <p><%= animal.name %></p>

   <p><%= animal.note %></p>
 </div>
</div>
<% end %>
