<h1>Fishes#index</h1>

<br>
<%= link_to 'go animals', '/animals/index' %>
<table class="index">

<thead>
    <tr>
      <th>Name</th>
      <th>note</th>
      <th>image</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<tbody>
    <% @fishes.each do |fish| %>
      <tr>
        <td><%= fish.name %></td>
        <td><%= fish.note %></td>
        <td><%= image_tag animal.image_fish_url(:thumb)  %></td>
      </tr>
    <% end %>
  </tbody>

</table>

