<h1 class="title">Fishes</h1>


<% @fishes.each do |fish| %>
<div style="float:left;">
 <div class="content">
  <p><%= image_tag fish.image_fish_url(:thumb)  %></p>

  <p><%= fish.name %></p>

  <p><%= fish.note %></p>
 </div>
</div>

<% end %>
